* {
    font-family: "Century Gothic";
    font-weight: bold;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

a {
    color: #091026;
}

.header {
    position: relative;
    height: auto;
    margin: 0%;
    max-width: 100%;
    margin: 15px;
}

    /* Logo Stuff */
    .logo img{
        height: auto;
        max-width: 100%;
    }

    /* Dropdown Menu Stuff */
    .dropdown_menu { 
        width: 100%;
        position: relative;
        display: inline-block;
    }
    .dropdown_button {
        position: relative;
        width: 98%;
        padding: .5% 100% .5% 100%;
        background-color: #F2EEE0;
        border: none;
        left: 50%;
        transform: translateX(-50%);
    }
  
    .dropdown_content {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 160px;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown_content a {
        padding: 1% 2% 1% 2%;
        color: #091026;
        text-decoration: none;
        display: block;
    }
  
    .dropdown_content a:hover {background-color: #ddd;}
    .dropdown_menu:hover .dropdown_content {display: block;}
    .dropdown_menu:hover .dropdown_button {background-color: #4C4B2C;}

    /* Quote Stuff */
    .quote {
        width: 100%;
        position: relative;
        display: inline-block; 
        border: none;
        border-radius: 25px;
        margin-top: 5px;
        margin-bottom: 25px;
        padding: .5% auto .5% auto;
    }
    .quote:hover {background-color: #4C4B2C;}


.main {
    position: relative;
    height: auto;
    margin: 15px;
    max-width: 100%;
}
    /* Container Location Stuff */
    .container {
        position: relative;
        display: inline-block;
        width: 98%;
        padding: .5%;
        padding-top: 10px;
        border: none;
    }
    .container:hover {
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05); 
    }

    /* Text Location Stuff */
    .container img {
        z-index: 1;
        position: relative;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
        border-radius: 5px;
    }

    .container h2 {
        z-index: 10;
        position: absolute;
        max-width: 100%;
        background-color: #f2eee0ba;
        padding: 2% 5% 2% 5%;
        border-radius: 25px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container p {
        z-index: 10;
        position: absolute;
        max-width: 100%;
        padding: 1%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
    }
    .container:hover h2 {
        visibility: hidden;
    }
    .container:hover p {
        visibility: visible;
    }

    .footer {
        width: 100%;
        color: white;
        padding: 15px;
        box-shadow:0 0 1.5vh 0 #252F4D;
        background-color: #252F4D;
        -webkit-text-stroke-width: .05px;
        -webkit-text-stroke-color: #4C4B2C;
        text-shadow: 1.75px 1.25px #4C4B2C;
    }

    .footer a {
        color: white;
    }