@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    font-family: "Century Gothic";
    font-weight: bold;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    position: relative;
    position: relative;
    height: auto;
    margin: 0%;
    max-width: 100%;
}

  /* Logo Stuff */
  .logo img{
    height: 100%;
    max-width: 100%;
  }

    /* Dropdown Menu Stuff */
    .dropdown_menu { 
        width: 100%;
        position: relative;
        display: inline-block;
}
    .dropdown_button {
        position: relative;
        width: 98%;
        padding: .5% 100% .5% 100%;
        background-color: #F2EEE0;
        border: none;
        left: 50%;
        transform: translateX(-50%);
    }
  
    .dropdown_content {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 160px;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown_content a {
        padding: 1% 2% 1% 2%;
        color: #091026;
        text-decoration: none;
        display: block;
    }
  
    .dropdown_content a:hover {background-color: #ddd;}
    .dropdown_menu:hover .dropdown_content {display: block;}
    .dropdown_menu:hover .dropdown_button {background-color: #4C4B2C;}

    /* Quote Stuff */
    .quote {
        width: 100%;
        position: relative;
        display: inline-block; 
        border: none;
        border-radius: 25px;
        margin-top: 5px;
        padding: .5% auto .5% auto;
    }


    .quote:hover {background-color: #4C4B2C;}